.encounter {
    color: #59253A;
    background-color: #78244C;
    height: 100vh;
}

.health-bar {
    padding: 3px;
    border: solid 3px;
    border-radius: 5px;
}

.participant-card {
    background-color: #0677A1;
    max-width: 300px;
    margin: 15px;
    padding: 10px;
    border: solid 3px;
    border-radius: 5px;
}

.participant-data {
    display: flex;
    justify-content: space-between;
}

.health-value {
    text-align: center;
    margin: 0;
}